In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('/Users/sebastiancalleja/Desktop/tucson_rain.csv')

In [6]:
dates = data['readingDate'].str.split('/')

In [8]:
data['month'] = [dates[i][0] for i in dates.index]
data['day'] = [dates[i][1] for i in dates.index]
data['year'] = [dates[i][2] for i in dates.index]

In [45]:
data_subset = data[["rainAmount", "quality", "year", "month", "day"]]

In [46]:
data_good = data_subset[(data_subset['quality']=="Good")]

In [47]:
data_2018 = data_good[(data_good['year'] == '18')]
data_2019 = data_good[(data_good['year'] == '19')]

In [77]:
rain_mean = data_good.groupby(["year", "month"], axis = 0, as_index = True).mean()
rain_sum = data_good.groupby(["year", "month"], axis = 0, as_index = True).sum()

In [78]:
rain_mean_df = pd.DataFrame(rain_mean)
rain_sum_df = pd.DataFrame(rain_sum)

In [80]:
rain_mean_2018 = rain_mean_df[0:12]
rain_mean_2019 = rain_mean_df[12:24]
rain_sum_2018 = rain_sum_df[0:12]
rain_sum_2019 = rain_sum_df[12:24]

In [81]:
merge = pd.merge(rain_mean_2018, rain_mean_2019, on = 'month')
merge1 = pd.merge(rain_sum_2018, rain_sum_2019, on = 'month')

In [88]:
merge ['mean_diff'] = merge['rainAmount_x'] - merge['rainAmount_y']

In [92]:
del merge['diff']

In [93]:
merge_all = pd.merge(merge, merge1, on = 'month')

In [95]:
merge_all_df = pd.DataFrame(merge_all)

In [96]:
merge_all_df

,rainAmount_x_x,rainAmount_y_x,mean_diff,rainAmount_x_y,rainAmount_y_y
month,,,,,
1,0.019656,0.070034,-0.050379,116.8527,502.0062
10,0.181781,0.000014,0.181767,1398.9847,0.0900
11,0.014607,0.146534,-0.131927,92.1825,1096.2176
12,0.065212,0.096759,-0.031548,472.0013,732.8560
2,0.127649,0.170169,-0.042521,787.7206,1257.2122
3,0.003715,0.047734,-0.044019,20.8994,334.7558
4,0.000056,0.004871,-0.004815,0.2900,30.6947
5,0.000311,0.014523,-0.014212,1.6850,91.9900
6,0.073618,0.001340,0.072277,414.2458,8.0250
7,0.116038,0.057598,0.058441,788.4815,402.7821
8,0.110740,0.095941,0.014799,770.8589,698.9288
9,0.091743,0.113077,-0.021333,581.4695,836.3146

In [103]:
Final_df = merge_all_df.rename(columns = {'rainAmount_x_x':'Mean_2018', 'rainAmount_y_x':'Mean_2018', 
                    'rainAmount_x_y':'Sum_2018', 'rainAmount_y_y':'Sum_2019'})

In [104]:
Final_df

       Mean_2018  Mean_2018  mean_diff   Sum_2018   Sum_2019
month
1       0.019656   0.070034  -0.050379   116.8527   502.0062
10      0.181781   0.000014   0.181767  1398.9847     0.0900
11      0.014607   0.146534  -0.131927    92.1825  1096.2176
12      0.065212   0.096759  -0.031548   472.0013   732.8560
2       0.127649   0.170169  -0.042521   787.7206  1257.2122
3       0.003715   0.047734  -0.044019    20.8994   334.7558
4       0.000056   0.004871  -0.004815     0.2900    30.6947
5       0.000311   0.014523  -0.014212     1.6850    91.9900
6       0.073618   0.001340   0.072277   414.2458     8.0250
7       0.116038   0.057598   0.058441   788.4815   402.7821
8       0.110740   0.095941   0.014799   770.8589   698.9288
9       0.091743   0.113077  -0.021333   581.4695   836.3146